<%- include('../partials/admin_header.ejs') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h4 class="title">
                                    <%- status %> Applications
                                </h4>
                            </div>
                            <div class="col-sm-9 col-xs-12 text-right">
                                <div class="btn_group">
                                    <!-- <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-default" title="Reload"><i
                                            class="fa fa-sync-alt"></i></button> -->
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="/admin/status/accept" class="btn btn-primary" id="accept">accepted
                                            list</a>
                                        <a href="/admin/status/reject" class="btn btn-primary mx-2" id="reject">rejected
                                            list</a>
                                        <a href="/admin/adminHome/status" class="btn btn-primary" id="pending">peinding
                                            list</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-body table-responsive">
                        <table class="table" style="table-layout: fixed ;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Theater Name</th>
                                    <th>city</th>
                                    <th>theatre Id</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%let inx=1; data.forEach(d=> { %>
                                    <tr>
                                        <td>
                                            <%- inx++ %>
                                        </td>
                                        <td>
                                            <%- d.userName %>
                                        </td>
                                        <td>
                                            <%- d.city %>
                                        </td>
                                        <td>
                                            <%- d.theatreId %>
                                        </td>
                                        <td>
                                            <ul class="action-list">
                                                <li class="list-item"><a class="btn"
                                                        href="/admin/status/accept/<%- d._id %> " data-tip="accept">
                                                        <i class="fa fa-check fa-lg"></i></a>
                                                </li>
                                                <li class="list-item"><a class="btn"
                                                        href="/admin/status/reject/<%- d._id %>" data-tip="reject"><i
                                                            class="fa fa-ban fa-lg px-2"></i></a>
                                                </li>
                                                <li class="list-item"><a class="btn"
                                                        href="/admin/status/view/<%- d._id %>" data-tip="view"><i
                                                            class="fa fa-eye fa-lg "></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>

                                    <% })%>




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/css/admin/status.css">
    <style>
        body {
            overflow-y: scroll !important;
            overflow-x: hidden !important;
            height: 500px;

            background: #616c78 !important;

        }
    </style>