<%- include('../../partials/theater_header.ejs') %>
    <div class="d-flex">
        <div class="px-3 text-white" style="background-color: rgba(0, 0, 0, 0.776);">
            <div class="list-group px-2 py-4  text-white text-nowrap" style="height:560px;">
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/home">Dashboard</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/theatre/edit/movies/<%- data._id %>">Edit</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" onclick="con(e)"
                    href="/theatre/theatre/delete/movies/<%- data._id %>">Delete</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Events</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Profile</a>
            </div>
        </div>
        <div class="w-100 h-100 sticky-top" style="color: rgba(45, 42, 42, 0.793);">
            <div class="h4 py-3 text-center text-white title" style="background-color:rgb(9, 20, 9);">movie Dashboard
            </div>
            <div class="status " style="overflow-y: scroll;overflow-x: hidden; height: 500px;">
                <div class="container py-1">
                    <!-- <div class="title h1 text-center">
                        <%-data.theatreName%>, <%-data.city%>
                    </div> -->
                    <!-- Card Start -->
                    <div class="card">
                        <div class="row ">

                            <div class="col-md-7 px-3">
                                <div class="card-block px-6 mx-3">
                                    <h3 class="card-title">
                                        <%-data.movieName %>
                                    </h3>
                                    <p class="card-text">
                                        <b>Movie description</b>
                                        <%- data.description %>
                                    </p>

                                    <p class="card-text"><b>Movie Duration : </b>
                                        <%- data.movieDuration %>
                                    </p>
                                    <p class="card-text"><b>Relese Date : </b>
                                        <%- data.ReleseDate %>
                                    </p>
                                    <p class="card-text"><b>Language : </b>
                                        <%- data.language %>
                                    </p>
                                    <p class="card-text"><b>Movie Id : </b>
                                        <%- data.movie_uid %>
                                    </p>
                                    <p class="card-text"><b>Trailer Link : </b>
                                        <a href="<%- data.tlLinks %>">
                                            <%- data.tlLinks %>
                                        </a>
                                    </p>
                                    <p class="card-text"><b>Movie Genres : </b>
                                        <%- data.movieGenres %>
                                    </p>

                                    <p class="card-text"><b>Created Date: </b>
                                        <%-new Date(data.Created_date).toString() %>
                                    </p>


                                </div>
                            </div>
                            <!-- Carousel start -->
                            <div class="col-md-5">
                                <div id="CarouselTest" class="carousel slide" data-ride="carousel">

                                    <div class="carousel-inner">
                                        <% data.images.map((e,i)=>{ %>
                                            <% if(i==0){%>
                                                <div class="carousel-item active">
                                                    <% }else{ %>
                                                        <div class="carousel-item">
                                                            <% } %>
                                                                <a
                                                                    href="http://localhost:3000/uploads/<%-e.image_url%>">
                                                                    <img class="card-img-top w-100"
                                                                        style="height: 300px;"
                                                                        src="http://localhost:3000/uploads/<%- e.image_url %> "
                                                                        alt="Card image cap">
                                                                </a>

                                                        </div>
                                                        <% }) %>
                                                </div>
                                                <a class="carousel-control-prev" href="#CarouselTest" role="button"
                                                    data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#CarouselTest" role="button"
                                                    data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of carousel -->
                        </div>
                    </div>
                    <!-- End of card -->

                </div>



            </div>

        </div>

    </div>

    <script>
        let con = (e) => {
            let ans = window.confirm("are you want to delete");
            if (!ans) {
                e.preventDefault();
            }
        }
    </script>
    <style>
        body {
            background-color: #eee;
        }

        .title {

            text-transform: uppercase;
        }

        .card-block {
            font-size: 1em;
            position: relative;
            margin: 0;
            padding: 1em;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            box-shadow: none;

        }

        .card {
            font-size: 1em;
            overflow: hidden;
            padding: 5;
            border: none;
            border-radius: .28571429rem;
            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
            margin-top: 20px;
        }

        .carousel-indicators li {
            border-radius: 12px;
            width: 12px;
            height: 12px;
            background-color: #404040;
        }

        .carousel-indicators li {
            border-radius: 12px;
            width: 12px;
            height: 12px;
            background-color: #404040;
        }

        .carousel-indicators .active {
            background-color: white;
            max-width: 12px;
            margin: 0 3px;
            height: 12px;
        }

        .card-img-top {
            width: 100%;
            height: 23vw;
            object-fit: cover;
        }

        .btn {
            margin-top: auto;
        }
    </style>