<%- include('../../partials/theater_header.ejs') %>
    <div class="container-fluid w-100">


    </div>
    <div class="d-flex">
        <div class="px-3 text-white" style="background-color: rgba(0, 0, 0, 0.776);">
            <div class="list-group px-2 py-4  text-white text-nowrap">
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/home">Dashboard</a>
                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5"
                    href="/theatre/theatre">Add Theatre</a>

                <a class="list-group-item list-group-item-action text-white bg-dark py-4 px-5" href="#!">Profile</a>
            </div>
        </div>
        <div class="w-100 h-100 sticky-top" style="color: rgba(45, 42, 42, 0.793);">
            <div class="h4 py-3 text-center text-white" style="background-color:rgb(9, 20, 9);">Theatres Dashboard</div>
            <div class="status p-3" style="overflow-y: scroll;overflow-x: hidden; height: 500px;">
                <div class="row">
                    <% data.forEach(elm=> { %>
                        <div class="col-sm-4">
                            <div class="card">
                                <img class="card-img-top"
                                    src="https://abhijithv.xyz/uploads/<%-elm.images[0].image_url%> "
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%-elm.theatreName %>
                                    </h5>
                                    <p class="card-text">
                                        <%- elm.theatreName%>, <%-elm.BuildingName%>, <%-elm.city %>
                                    </p>
                                    <% if (!elm.application_complete) { %>
                                        <p class="card-text"><small class="text-muted">

                                                theatre form incompleted

                                            </small></p>
                                        <% }%>
                                            <a href="/theatre/theatre/<%-elm._id%>" class="btn btn-danger">Continue</a>



                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
            </div>

        </div>

    </div>

    </div>