<!-- header -->
<%- include('../../partials/header.ejs', {user}) %>
    <div class="buyticket-page">
        <section class="movie-details">
            <div class="fix-height-div">
                <!-- Position absolute divs starts here -->
                <div class="top-section-container d-flex">
                    <div class="movie-details-container">
                        <div class="text-details">
                            <h1>
                                <div class="cinema-name-wrapper" style="padding: 0; margin:0;">
                                    <a style="padding-left:2rem;" href="/home/movie/<%- data[0].movies[0]._id%>"
                                        class="">
                                        <%-data[0].movies[0].movieName %>
                                    </a>
                                </div>
                            </h1>
                            <div class="__more-movie-data">
                                <span class="__censor">

                                </span>
                                <span class="heart-rating" style="display: inline;">
                                    <span class="heart-icon">

                                        <i class="fa fa-heart" aria-hidden="true"></i>

                                    </span>
                                    <span class="__percent">
                                        <%- Math.floor(Math.random()*20)+80 %> %
                                    </span><br>
                                    <span class="__votes">
                                        <%- Math.floor(Math.random()*100000)+10000 %> VOTES
                                    </span>
                                </span>
                                <span class="__tags">
                                    <% data[0].movies[0].movieGenres.split(',').forEach(e=>{ %>
                                        <span class="__genre-tag">
                                            <%- e %>
                                        </span>
                                        <% } )%>

                                            <span style="display:none">
                                                <%-data[0].movies[0].language %>
                                            </span>
                                </span>
                                <span class="__release-date" content="2022-06-03" itemprop="datePublished">
                                    <%-data[0].movies[0].ReleseDate %>

                                </span>

                                <span class="clock-time-buyticktes">
                                    <span class="__clock-icon">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                                    </span>

                                    <span class="__time" itemprop="duration">
                                        <%-data[0].movies[0].movieDuration.split(":").join(" hrs ") %> mins</span>
                                    <br>
                                    <span class=" __selected-category">2D
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filters-wrapper">
                <div class="filters-container">

                    <div class="showtime-filters struktur ">
                        <div class="dates-wrapper " style="display: inline-block;">
                            <ul id="showDates" class="dates-container slick-initialized slick-slider"><button
                                    class="buttons prev slick-arrow slick-disabled" aria-label="Previous" role="button"
                                    href="#" aria-disabled="true" style="display: block;">
                                    <i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i></button>
                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track"
                                        style="opacity: 1; width: 35000px; transform: translate3d(-1px, 0px, 0px);">

                                        <!-- finding max day for shows -->




                                        <!-- finding reming days -->
                                        <%const maxday=(Math. ceil((data[0].showByDate.endDate-new Date()) / (1000 *
                                            3600 * 24))) %>

                                            <% for( let i=0; i <=maxday; i++ ) { %>
                                                <% let startDate=data[0].showByDate.startDate.toString()%>
                                                    <%let date=new Date();%>
                                                        <%m=date.setDate(date.getDate() + i); %>

                                                            <li class="<%= i==0 ?`date-details _active slick-slide slick-current slick-active `:`date-details  slick-slide`%>"
                                                                data-slick-index=<%-i %>
                                                                aria-hidden="false">
                                                                <a class="date-href"
                                                                    href="/home/booking/<%- data[0].movies[0]._id%>?&dt=<%-new Date(m).toISOString() %>"
                                                                    data-url="/home/booking/<%- data[0].movies[0]._id%>?&dt=<%-new Date(m).toISOString() %>">
                                                                    <div class="date-day">
                                                                        <%-new Date(m).toString().split(" ")[0]%>
                                                                                            </div>
                                                                                            <div class=" date-numeric">
                                                                            <%-parseInt(new Date(m).toString().split(" ")[2])%>
                                                                                            </div>
                                                                                            <div class=" date-month">
                                                                                <%-new Date(m).toString().split(" ")[1]%></div>
                                                                                        </a>
                                                                                    </li>

                                                                                    <% } %>



                                    </div>
                                </div>


                                <button  class=" buttons next slick-arrow" aria-label="Next" role="button" href="#"
                                                                                    style="display: block;"
                                                                                    aria-disabled="false">
                                                                                    <i class="fa fa-arrow-right fa-1x"
                                                                                        aria-hidden="true"></i>
                                                                                    </button>
                            </ul>
                        </div>
                        <div class="dropdown-block ">


                            <button class="btn _tres __done">DONE</button>

                            <div class="dropdown highlighted _disabled">
                                <div class="__text _languages-text _highlighted">
                                    <%-data[0].movies[0].language %> - 2D
                                </div>
                                <i class="__icon icon-arrow-down ">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                        enable-background="new 0 0 100 100" xml:space="preserve">
                                        <use xlink:href="/icons/common-icons.svg#icon-arrow-down-new"></use>
                                    </svg>
                                </i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>


        <!-- theatre details -->
        <section class="phpShowtimes showtimes">


            <div class="applied-filters wrapper">

                <div class="added-filters"></div>
            </div>
            <div class="wrapper">
                <div class="container">
                    <div class="attributes-container">
                        <div class="offer-details-container legends-section">
                        </div>
                        <div class="legends-container">
                            <div class="showtimes-legend">
                                <div class="legend-icon"></div>
                                <div class="legend-text">Available</div>
                            </div>
                            <div class="showtimes-legend">
                                <div class="legend-icon fast"></div>
                                <div class="legend-text">Fast Filling</div>
                            </div>

                        </div>
                    </div>

                    <ul id="venuelist">

                        <% data.map(d=>d.theatres.forEach(item=>{ %>

                            <li class="list">
                                <div class="listing-info">
                                    <div class="img-container">
                                        <span class="icon-star star"></span>
                                    </div>
                                    <div class="details">
                                        <span class="heart-it" data-id="CCKL">
                                            <i class="fa fa-heart" aria-hidden="true"></i>

                                        </span>
                                        <span class="icon-location">
                                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                        </span>
                                        <div class="__name ">
                                            <div class="__title">
                                                <a class="__venue-name" href="/buytickets/">
                                                    <%-item.theatreName %>
                                                        Cinemas: <%-item.BuildingName %>
                                                            , <%-item.city %>
                                                </a>
                                                <div class="info-section">
                                                    <img src="https://in.bmscdn.com/moviemode/cinemaphotoshowcase/safety_first.png"
                                                        class="venue-info-icon lazy"
                                                        onerror="this.src='https:/\/\in.bmscdn.com/m6/images/common/placeholder.png'; this.onerror='';">
                                                    <div class="venue-info-text">INFO</div>
                                                </div>
                                            </div>
                                            <div class="st-distance _none">
                                                <span class="__dis-icon">
                                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                                    </svg>
                                                </span>
                                                <span class="__distance"></span>
                                            </div>
                                            <div class="unpaid-mticket-wrapper">

                                                <div class="__mticket-info">
                                                    <span class="icon">
                                                        <i class="fa fa-mobile" style="color:rgba(0, 128, 0, 0.661)"
                                                            aria-hidden="true"></i>
                                                    </span>
                                                    <label>M-Ticket</label>
                                                </div>
                                                <div class="__fnb-info ">
                                                    <span class="icon">
                                                        <i class="fa fa-burger-glass"></i>
                                                    </span>
                                                    <label>Food &amp; Beverage</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="body showtimes-details-container ">
                                    <div class="offer-details-container">
                                    </div>
                                    <div class="showtime-pill-wrapper">
                                        <% d.showByDay.map(e=>{%>

                                            <div class="showtime-pill-container _sold">
                                                <a class="showtime-pill show_time_url"
                                                    href="/home/bookticket/seat/<%-d._id%>?&t=<%-e.startTime%>&d=<%- date %>"
                                                    data-url=" /home/bookticket/seat/<%-d._id%>?&t=<%-e.startTime%>&d=<%- date %>"
                                                    data-id="<%-d._id%>" data-time="<%-e.startTime%>"
                                                    data-date="<%- date %>">
                                                    <div class="__details">
                                                        <div class="__text">
                                                            <%-moment(e.startTime, ["HH.mm"]).format("hh:mm A")%>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>


                                            <% }) %>





                                                <!-- <div class="showtime-pill-container _filling" data-online="Y">
                                                    <a class="showtime-pill" href="/booktickets/CCKL/8240">
                                                        <div class="__details">
                                                            <div class="__text">
                                                                07:30 PM </div>
                                                        </div>
                                                    </a>
                                                </div> -->


                                    </div>
                                    <div class="venue-flags">
                                        <span class="gold-icon"></span>
                                        <span class="venue-flags-details">Cancellation Available</span>
                                    </div>
                                </div>
                            </li>
                            <% }) )%>

                                <!-- loop end -->
                                <div id="div"></div>


                    </ul>
                </div>
            </div>

            <!-- Breadcrumb HTML -->

        </section>
    </div>
    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
        <script type="text/JavaScript" src=" https://MomentJS.com/downloads/moment.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            //button class changing
            $('.slick-track li').click(function (e) {

                $(this).siblings().removeClass()
                $(this).siblings().addClass('date-details  slick-slide')
                $(this).removeClass()
                $(this).addClass('date-details _active slick-slide slick-current slick-active');
            });

            // <a class="showtime-pill show_time_url" data-url="/bookticket"
            //         data-id="<%-/*d._id*/%>" data-start-time="<%-/*e.startTime*/%>"
            // data-date="<% /*date*/ %> ">

            $(document).ready(function () {
                $(".showtime-pill-container a").click(function (e) {

                    // alert($(this).data("id") + $(this).data("date") + $(this).data("time") + $(this).data("url"))
                    let id = $(this).data('id');
                    let time = $(this).data('time');
                    let date = $(this).data('date');
                    let url = $(this).data('url')

                    // $.ajax({
                    //     url: url,
                    //     type: "GET",
                    //     data: JSON.stringify({
                    //         data: { id, time, date }
                    //     }),
                    //     success: {
                    //         location: '/home/bookticket/seat'
                    //     }
                    // }).done(function (data) {
                    //     window.location = "/home/bookticket/seat";

                    // })
                })
            })




            // for theatre data
            // $(document).ready(function () {
            //     $(".slick-track li").click(function (e) {
            //         e.preventDefault();
            //         e.stopPropagation();

            //         $.ajax({
            //             url: $('a').data("url"),
            //             type: "POST",
            //             contentType: "Application/JSON",
            //         }).done(function (data) {
            //             console.log(typeof (data))
            //             console.log(data)

            //             data.map(d => d.theatres.forEach(item => {

            //                 let divv = ' <li class="list">' +
            //                     '<div class="listing-info">' +
            //                     '<div class="img-container">' +
            //                     '<span class="icon-star star"></span>' +
            //                     '</div>' +
            //                     '<div class="details">' +
            //                     '<span class="heart-it" data-id="CCKL">' +
            //                     '<i class="fa fa-heart" aria-hidden="true"></i>' +

            //                     '</span>' +
            //                     ' <span class="icon-location">' +
            //                     '<i class="fa fa-location-arrow" aria-hidden="true"></i>' +
            //                     '</span>' +
            //                     '<div class="__name ">' +
            //                     '<div class="__title">' +
            //                     '<a class="__venue-name" href="/buytickets/">' +
            //                     item.theatreName +
            //                     ' Cinemas:' + item.BuildingName +
            //                     ' , ' + item.city +
            //                     '</a>' +
            //                     '<div class="info-section">' +
            //                     '<img src="https://in.bmscdn.com/moviemode/cinemaphotoshowcase/safety_first.png"' +
            //                     'class="venue-info-icon lazy"' +
            //                     'onerror="this.src="https:/\/\in.bmscdn.com/m6/images/common/placeholder.png"; this.onerror="";">' +
            //                     '<div class="venue-info-text">INFO</div>' +
            //                     '</div>' +
            //                     '</div>' +
            //                     '<div class="st-distance _none">' +
            //                     '<span class="__dis-icon">' +
            //                     '<i class="fa fa-location-arrow" aria-hidden="true"></i>' +
            //                     '</svg>' +
            //                     '</span>' +
            //                     '<span class="__distance"></span>' +
            //                     '</div>' +
            //                     '<div class="unpaid-mticket-wrapper">' +

            //                     '<div class="__mticket-info">' +
            //                     '<span class="icon">' +
            //                     '<i class="fa fa-mobile" style="color:rgba(0, 128, 0, 0.661)"' +
            //                     ' aria-hidden="true"></i>' +
            //                     '</span>' +
            //                     '<label>M-Ticket</label>' +
            //                     '</div>' +
            //                     '<div class="__fnb-info ">' +
            //                     '<span class="icon">' +
            //                     '<i class="fa fa-burger-glass"></i>' +
            //                     '</span>' +
            //                     '<label>Food &amp; Beverage</label>' +
            //                     '</div>' +
            //                     '</div>' +
            //                     '</div>' +
            //                     '</div>' +
            //                     '</div>' +
            //                     '<div class="body showtimes-details-container ">' +
            //                     '<div class="offer-details-container">' +
            //                     '</div>' +
            //                     '<div class="showtime-pill-wrapper">'
            //                 d.showByDay.forEach(e => {
            //                     let dddd =

            //                         '<div class="showtime-pill-container _sold">' +
            //                         '<a class="showtime-pill show_time_url" data-url="/bookticket"' +
            //                         'data-id="' + d._id + '" data-time="' + e.startTime +
            //                         '"data-date="' + ' ">' +
            //                         '<div class="__details">' +
            //                         '<div class="__text">' +
            //                         '<div class="__text">' +

            //                         moment(e.startTime, ["HH.mm"]).format("hh:mm A") +


            //                         ' </div>' +
            //                         '</div>' +
            //                         '</a>' +
            //                         '</div>';
            //                     console.log(dddd)
            //                     $('.showtime-pill-wrapper').append(dddd)
            //                 })


            //                     + ' </div>' +
            //                     '<div class="venue-flags">' +
            //                     '<span class="gold-icon"></span>' +
            //                     '<span class="venue-flags-details">Cancellation Available</span>' +
            //                     '</div>' +
            //                     '</div>' +
            //                     '</li>'

            //                 $('#div').append(divv);
            //             }))
            //         })
            //     })
            // })
        </script>