<link rel="stylesheet" href="/css/user/seat_layout.css">

<section class="bkf-layout mb-5">
    <section id="seatlayoutbox" class="bkf-container _seat container" style="display: block;">
        <!-- booking -->
        <div id="cpnleft">
            <div class="seat-container">
                <div class="seats" id="seatcall">
                    <div class="__block">
                        <div id="layout" style="width: 1298px;">
                            <table cellspacing=" 0" cellpadding="0" class="setmain ">
                                <tbody>
                                    <% let array=data[0].show_seats.showByDate.shows.showSeats%>
                                        <% array.reverse().forEach((e, i)=> { %>


                                            <tr>
                                                <td class="PriceB1" colspan="2">
                                                    <div class="seatP mt-3">
                                                        <%- e[0].category %>
                                                            <%- e[0].seat_details[0].values[0].price%>
                                                                .00
                                                    </div>
                                                </td>
                                            </tr>

                                            <%e.forEach((d)=>{ %>


                                                <% d.seat_details.reverse().forEach((m,m_i)=> {%>
                                                    <tr>
                                                        <td>
                                                            <div class="seatR Setrow<%-m_i%>">
                                                                <%- m.key %>
                                                            </div>
                                                        </td>


                                                        <td class=<%-`${ m.key }Row${ i }`%>>

                                                            <% m.values.forEach((rs,r_i)=>{%>


                                                                <% if(r_i==Math.floor((m.values.length/2.6))){ %>
                                                                    <div class="seatI">&nbsp;</div>
                                                                    <div class="seatI">&nbsp;</div>
                                                                    <div class="seatI">&nbsp;</div>
                                                                    <div class="seatI">&nbsp;</div>

                                                                    <% } %>
                                                                        <% if(r_i==Math.floor((m.values.length/1.4))){
                                                                            %>
                                                                            <div class="seatI">&nbsp;</div>
                                                                            <div class="seatI">&nbsp;</div>
                                                                            <div class="seatI">&nbsp;</div>
                                                                            <div class="seatI">&nbsp;</div>

                                                                            <% } %>
                                                                                <%let cls=`${m.key}-${r_i}`%>
                                                                                    <div id="<%-cls%>" class="seatI">
                                                                                        <a href="javascript:;"
                                                                                            class=<%=rs.seat_status==false?"_available":"_blocked"%>
                                                                                            data-num="<%-cls%>
                                                                                                "data-price="
                                                                                                <%-rs.price%>
                                                                                                    "data-category="
                                                                                                    <%-rs.seats_category%>
                                                                                                        ">
                                                                                                        <%-
                                                                                                            rs.seat_number%>
                                                                                        </a>
                                                                                    </div>


                                                                                    <%})%>
                                                        </td>

                                                    </tr>
                                                    <% }) %>



                                                        <%})%>

                                                            <%}) %>


                                </tbody>
                            </table>
                        </div>

                        <div class="screen-this-way">
                            <span class="__icon">
                                <!-- icon for screen -->
                            </span>
                            <span class="__text">All eyes this way please!</span>
                        </div>
                    </div>
                </div>
            </div>



            <!--payment section-->
            <div class="__seat-action btn-bar _centered _spaced" id="bottom_pay" style="display: none;">

                <a id="btmcntbook" onclick="fnPkgCl();" class="bar-btn _primary _small" style="display: flex;">Pay&nbsp;
                    <span id="btnSTotal_reserve"></span> &nbsp;RS</a>

            </div>



            <!--sold /aviailable/sold section-->
            <div class="seat-legends-wrapper">
                <div class="seat-legend-container">
                    <div class="seat-legend-box status-2"></div>
                    <div class="seat-legend-text">Sold</div>
                    <div class="seat-legend-info status-2"> <svg xmlns="http://www.w3.org/2000/svg" width="12"
                            height="12" viewBox="0 0 12 12" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 4.8291C6.24246 4.8291 6.43902 5.00382 6.43902 5.21935V9.12178C6.43902 9.33731 6.24246 9.51203 6 9.51203C5.75753 9.51203 5.56097 9.33731 5.56097 9.12178V5.21935C5.56097 5.00382 5.75753 4.8291 6 4.8291Z"
                                fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.41467 3.51212C5.41467 3.18883 5.67675 2.92676 6.00004 2.92676C6.32333 2.92676 6.5854 3.18883 6.5854 3.51212C6.5854 3.83541 6.32333 4.09749 6.00004 4.09749C5.67675 4.09749 5.41467 3.83541 5.41467 3.51212Z"
                                fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 0.878049C3.17122 0.878049 0.878049 3.17122 0.878049 6C0.878049 8.82878 3.17122 11.122 6 11.122C8.82878 11.122 11.122 8.82878 11.122 6C11.122 3.17122 8.82878 0.878049 6 0.878049ZM0 6C0 2.68629 2.68629 0 6 0C9.31371 0 12 2.68629 12 6C12 9.31371 9.31371 12 6 12C2.68629 12 0 9.31371 0 6Z"
                                fill="black"></path>
                        </svg> </div>
                </div>


                <div class="seat-legend-container">
                    <div class="seat-legend-box status-1"></div>
                    <div class="seat-legend-text">Available</div>
                    <div class="seat-legend-info status-1"> <svg xmlns="http://www.w3.org/2000/svg" width="12"
                            height="12" viewBox="0 0 12 12" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 4.8291C6.24246 4.8291 6.43902 5.00382 6.43902 5.21935V9.12178C6.43902 9.33731 6.24246 9.51203 6 9.51203C5.75753 9.51203 5.56097 9.33731 5.56097 9.12178V5.21935C5.56097 5.00382 5.75753 4.8291 6 4.8291Z"
                                fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.41467 3.51212C5.41467 3.18883 5.67675 2.92676 6.00004 2.92676C6.32333 2.92676 6.5854 3.18883 6.5854 3.51212C6.5854 3.83541 6.32333 4.09749 6.00004 4.09749C5.67675 4.09749 5.41467 3.83541 5.41467 3.51212Z"
                                fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 0.878049C3.17122 0.878049 0.878049 3.17122 0.878049 6C0.878049 8.82878 3.17122 11.122 6 11.122C8.82878 11.122 11.122 8.82878 11.122 6C11.122 3.17122 8.82878 0.878049 6 0.878049ZM0 6C0 2.68629 2.68629 0 6 0C9.31371 0 12 2.68629 12 6C12 9.31371 9.31371 12 6 12C2.68629 12 0 9.31371 0 6Z"
                                fill="black"></path>
                        </svg> </div>
                </div>



                <div class="seat-legend-container">
                    <div class="seat-legend-box status-88"></div>
                    <div class="seat-legend-text">Selected</div>
                    <div class="seat-legend-info status-88"> <svg xmlns="http://www.w3.org/2000/svg" width="12"
                            height="12" viewBox="0 0 12 12" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 4.8291C6.24246 4.8291 6.43902 5.00382 6.43902 5.21935V9.12178C6.43902 9.33731 6.24246 9.51203 6 9.51203C5.75753 9.51203 5.56097 9.33731 5.56097 9.12178V5.21935C5.56097 5.00382 5.75753 4.8291 6 4.8291Z"
                                fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.41467 3.51212C5.41467 3.18883 5.67675 2.92676 6.00004 2.92676C6.32333 2.92676 6.5854 3.18883 6.5854 3.51212C6.5854 3.83541 6.32333 4.09749 6.00004 4.09749C5.67675 4.09749 5.41467 3.83541 5.41467 3.51212Z"
                                fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 0.878049C3.17122 0.878049 0.878049 3.17122 0.878049 6C0.878049 8.82878 3.17122 11.122 6 11.122C8.82878 11.122 11.122 8.82878 11.122 6C11.122 3.17122 8.82878 0.878049 6 0.878049ZM0 6C0 2.68629 2.68629 0 6 0C9.31371 0 12 2.68629 12 6C12 9.31371 9.31371 12 6 12C2.68629 12 0 9.31371 0 6Z"
                                fill="black"></path>
                        </svg> </div>
                </div>


            </div>
        </div>
    </section>
</section>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.seatI a').on('click', function (e) {
            e.preventDefault();



            //checking for not selecting __blocked class // limiting 10 seats
            if ($(this).hasClass('_available') || $(this).hasClass('_selected')) {
                if ($('._selected').length < 10) {
                    $(this).toggleClass('_available _selected')
                } else {
                    $(this).removeClass().addClass('_available')
                }
            }

            // storing all selected items data into a array
            let arr = $('._selected').map((i, e) => {
                let obj = { "seatDetail": $(e).data('num'), "price": $(e).data('price'), "category": $(e).data('category') }
                return obj;
            }).get()


            let data = `<%- JSON.stringify(data)%>`;
            // console.log(JSON.parse(data))


            const findObject = id => obj => obj.id === id ? obj : flatFind(obj.child, findObject(id));
            m = JSON.parse(data);
            let rs = findObject(m, 'Awww')
            console.log(rs)


            // checking is any seat selected or not 
            if (arr.length >= 1) {
                $('#bottom_pay').css('display', "flex");
                let price = 0;
                let value = arr.map((v, i) => {
                    price += parseInt(v.price);
                })
                $('#btmcntbook span').text(price)
                console.log(price)
            } else {
                $('#bottom_pay').css('display', "none")
            }


            // console.log(arr);
        })

    })
</script>