<%- include('../../partials/header.ejs', {user}) %>
    <link rel="stylesheet" href="/css/user/ticketHome.css">
    <!-- filter header -->
    <div class="main-body-wrapper ">
        <div class="profile-container">
            <!-- start of tabs container -->
            <div class="booking-filters tab-list w-100" style="position:fixed; z-index: 999;">
                <ul class="p-tab bh-tab sub-tab w-100">
                    <li query="recent-bookings" class="_active" data-id="dBookingNav" id="sixMonths"><a>Recent
                            Bookings</a>
                    </li>
                    <li query="pre-book" class="" data-id="dBookingNav" id="prebookTab"><a>Prev-booking</a></li>

                </ul>
            </div>
            <div style="margin-bottom: 50px;"></div>

            <div class="wrapper">
                <div class="profile-tabs " style="display: block;" hasdata="Y">
                    <section class="tickets">
                        <% if(data.length>=1){ %>

                            <ul class="confirmation-list " id="ALLBOOKINGS">

                                <!-- loop start here :) -->
                                <% data.forEach((e,i)=>{ %>

                                    <li class="confirmation-card d-flex justify-content-center target w-100">
                                        <aside class="details mb-4">

                                            <div class="unpaid-tag cancellation-btn" <%- (e.seat_status)?"style=display:none;":"style=display:block;"%>>
                                                Cancelled</div>
                                            <div class="bcode" id="barcode_3119733610">

                                                <img class="tkt-cancellation cancellation-btn" <%- (e.seat_status)?"style=display:none;":"style=display:block;"%>;
                                                    src="//in.bmscdn.com/webin/loyalty/cancelled_stamp.png"
                                                    alt="cancelled ticket stamp">

                                                <div class="__qrcode">
                                                    <img src="https://pngimg.com/uploads/qr_code/qr_code_PNG12.png"
                                                        style="width: 100px; height: 100px;" alt="">
                                                </div>

                                                <div class="__booking-id" id="bidText_3119733610">BOOKING ID
                                                    <br><span class="_bkn_id" style="text-transform: uppercase;"
                                                        data-bkn_id="<%-e._id %> "><strong>
                                                            <%-`${e._id.toString().slice(-6)}` %>
                                                        </strong></span>
                                                </div>
                                                <div>
                                                    <div class="download_btn"><i class="fa fa-download"
                                                            aria-hidden="true"></i></div>
                                                    <div class="btn btn-danger mt-2 cancel_ticket" data-cancel="<%-e._id %>"  <%-(!e.seat_status  || new Date(e.showDetails.showTime) <= new Date())?"style=display:none;":"style=display:block;"%>>cancel booking</div>
                                                </div>
                                            </div>
                                            
                                            <div class="info">
                                                <div class="__img"><img
                                                        style="width:169.91px; height:245.84px; object-fit: cover;"
                                                        src=<%-`http://localhost:3000/uploads/${e.movie_details[0].images[0].image_url}`
                                                        %> alt=""></div>
                                                <div class="text">
                                                    <div class="inner-text">
                                                        <div style="display: flex;justify-content: space-between;">
                                                            <h1>
                                                                <%-`${e.movie_details[0].movieName}
                                                                    (${e.movie_details[0].language})` %>
                                                            </h1>

                                                        </div>
                                                        <p><span class="venue-pin"></span>
                                                            <br>
                                                            <%-`${e.theatre[0].theatreName}:
                                                                ${e.theatre[0].BuildingName}, ${e.theatre[0].city}` %>
                                                                <br>
                                                                <%-`${moment(e.showDetails.showTime.split("T")[1],
                                                                    ["HH:mm"]).format("hh:mm a")} | ${new
                                                                    Date(e.showDetails.showTime.split("T")[0]).toString().split(" ").slice(1,4).join(" ")}`%> 
                                                    </p><span id=" Qyt-3119733610" class="Qyt">Quantity:
                                                                    <%-e.ticketData.length%></span>
                                                                        <div class="__seats"><span class="icon-seat">
                                                                                <i class="fa fa-space-shuttle fa-1.5x"
                                                                                    aria-hidden="true"></i>
                                                                            </span>
                                                                            <strong id="seatno">
                                                                                <%-e.ticketData[0].cate%> : &nbsp;
                                                                                    <%- e.ticketData.map(m=>
                                                                                        m.seatDetail)%>
                                                                            </strong>

                                                                        </div>
                                                    </div>

                                                    <div class="ticket-breakup" style="display: block">
                                                        <div class="__tax-summary">
                                                            <ul>
                                                                <li>
                                                                    <span><b>Ticket price</b><br></span>
                                                                    <span><b>Rs <%-e.ticketData.map(e=>
                                                                                parseInt(e.price)).reduce((c,i)=> c+i)
                                                                                %> </b></span>
                                                                </li>
                                                                <li>
                                                                    <span><b>Convenience fees</b><br>Incl. of Tax</span>
                                                                    <span>Rs 47.20</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="total"><span class="__text"
                                                            data-role="amount-paid-tag">AMOUNT
                                                            PAID</span><span class="__value">Rs <%-e.ticketData.map(e=>
                                                                parseInt(e.price)).reduce((c,i)=> c+i)+47.2 %></span>
                                                    </div>
                                                    <!-- Loyalty Ticket Cancellation Stamp to appear, if ticket has been successfully cancelled -->
                                                    <div class="loyalty-refund" id="refund"  <%-(e.seat_status)?"style=display:none;":"style=display:block;"%>>
                                                        <span>
                                                            <p>Refund</p>
                                                        </span>
                                                        <span id="loyalty-cashback"></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </aside>


                                    </li>


                                    <% }) %>


                            </ul>

                            <% }else { %>
                                <ul class=" confirmation-list" id="SIXMONTHS">
                                    <li class="no-data">You don't seem to have any recent bookings.</li>
                                    <div id="allBookings" class="view-all-bookings"">
                                View all bookings</div>
                        </ul>
                        <% } %> 
                    </section>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/user_helper/ticket_ajax.js"></script>


