<%- include('../../partials/header.ejs', {user}) %>
    <link rel="stylesheet" href="/css/user/ticketHome.css">
    <!-- filter header -->
    <div class="main-body-wrapper ">
        <div class="profile-container">
            <!-- start of tabs container -->
            <div class="booking-filters tab-list w-100" style="position:fixed; z-index: 9999;">
                <ul class="p-tab bh-tab sub-tab w-100">
                    <li query="recent-bookings" class="_active" data-id="dBookingNav" id="sixMonths"><a>Recent
                            Bookings</a>
                    </li>
                    <li query="pre-book" class="" data-id="dBookingNav" id="prebookTab"><a>Cancelled-booking</a></li>

                </ul>
            </div>
            <div style="margin-bottom: 50px;"></div>

            <div class="wrapper">
                <div class="profile-tabs " style="display: block;" hasdata="Y">
                    <section class="tickets">
                        <% if(data.length >=1){ %>

                        <ul class="confirmation-list " id="ALLBOOKINGS">
                            <!-- <li style="display: none;">Getting your purchase history...</li> -->

                           
                            <!-- loop start here :) -->
                            <% data.forEach((e,i)=>{ %>



                                <li class="confirmation-card d-flex justify-content-center w-100">
                                    <aside class="details mb-4">

                                        <div  class="unpaid-tag cancellation-btn" style="display: none;">
                                            Cancelled</div>
                                        <div class="bcode" id="barcode_3119733610">

                                            <img  class="tkt-cancellation cancellation-btn" style="display: none;"
                                                src="//in.bmscdn.com/webin/loyalty/cancelled_stamp.png" alt="cancelled ticket stamp">

                                            <div class="__qrcode">
                                                <img src="https://pngimg.com/uploads/qr_code/qr_code_PNG12.png"
                                                    style="width: 100px; height: 100px;" alt="">
                                            </div>

                                            <div class="__booking-id" id="bidText_3119733610">BOOKING ID
                                                <br><span class="_bkn_id"><strong>WJZ24BT</strong></span>
                                            </div>
                                        </div>

                                        <div class="info">
                                            <div class="__img"><img style="width:169.91px; height:245.84px; object-fit: cover;"
                                                    src=<%-`http://localhost:3000/uploads/${e.movie_details[0].images[0].image_url}` %> alt=""></div>
                                            <div class="text">
                                                <div class="inner-text">
                                                    <div style="display: flex;justify-content: space-between;">
                                                        <h1><%-`${e.movie_details[0].movieName} (${e.movie_details[0].language})` %>  </h1>

                                                    </div>
                                                    <p><span class="venue-pin"></span>
                                                        <br>PVR: Lulu, Kochi <br>10:15pm | 21-Apr-2022
                                                    </p><span id="Qyt-3119733610" class="Qyt">Quantity: 1</span>
                                                    <div class="__seats"><span class="icon-seat"><svg
                                                                xml:space="preserve" enable-background="new 0 0 100 100"
                                                                viewBox="0 0 100 100" y="0px" x="0px"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                xmlns="http://www.w3.org/2000/svg" version="1.1">
                                                                <use
                                                                    xlink:href="/icons/user-profile-icons.svg#icon-seat">
                                                                </use>
                                                            </svg></span>
                                                        <strong id="seatno-3119733610">CLASSICP - G6</strong>
                                                        <span>WJZ24BT</span>
                                                    </div>
                                                </div>

                                                <div class="ticket-breakup" style="display: block">
                                                    <div class="__tax-summary">
                                                        <ul>
                                                            <li>
                                                                <span><b>Ticket price</b><br></span>
                                                                <span><b>Rs 160.00</b></span>
                                                            </li>
                                                            <li>
                                                                <span><b>Convenience fees</b><br>Incl. of Tax</span>
                                                                <span>Rs 28.32</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="total"><span class="__text"
                                                        data-role="amount-paid-tag">AMOUNT
                                                        PAID</span><span class="__value">Rs 188.32</span></div>
                                                <!-- Loyalty Ticket Cancellation Stamp to appear, if ticket has been successfully cancelled -->
                                                <div class="loyalty-refund" id="refund"
                                                    style="display: none;">
                                                    <span>
                                                        <p>Refund</p>
                                                    </span>
                                                    <span id="loyalty-cashback"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </aside>


                                    <!-- <div class="booking-details">
                                    <p>BOOKING DATE &amp; TIME
                                        <br><span>Apr 21 2022 05:13PM</span>
                                    </p>
                                    <p data-role="payment-method">PAYMENT METHOD
                                        <br><span>UPI</span>
                                    </p>
                                    <p>CONFIRMATION ID
                                        <br><span id="conf-id-3119733610">WJZ24BT</span>
                                    </p>
                                </div> -->
                                </li>


                                <% }) %>


                        </ul>

                        <% }else { %> 
                        <ul class="confirmation-list" id="SIXMONTHS"> 
                         <li class="no-data">You don't seem to have any recent bookings.</li>
                            <div id="allBookings" class="view-all-bookings"
                                onclick="profile.fnLazyLoadOldHistory('N');">
                                View all bookings</div>
                        </ul>
                        <% } %> 
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        console.log(`<%-JSON.stringify(data)%>`)
    </script>
    <%- include('../partials/footer.ejs') %>