<link rel="stylesheet" href="/css/user/movie.css">


<%- include('../../partials/header.ejs', {user}) %>

    <section class="sc-qswwm9-0 ljnioe">
        <div class="sc-qswwm9-1 eQtXbA"
            style="background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url(&quot;http://localhost:3000/uploads/<%-movie[0].images[0].image_url%>&quot;);">
            <div class="sc-qswwm9-2 cUDDgh">
                <div class="sc-qswwm9-4 eWuQcQ">
                    <section class="sc-bsek5f-0 fSyllq">
                        <div type="vertical" class="sc-echj48-0 iCYiPJ">
                            <div class="sc-echj48-6 csqwyD"
                                style="border-radius: 16px 16px 0px 0px; object-fit: cover;">
                                <img src="http://localhost:3000/uploads/<%-movie[0].images[0].image_url %> "
                                    alt="immage" width="100%" height="100%" class="sc-echj48-5 hutamn"
                                    style="border-radius: 16px 16px 0px 0px; object-fit: cover;">
                            </div>
                            <!-- trailer -->
                            <a href=<%- movie[0].tlLinks%>>
                                <div class="sc-xta4k3-0 hyjyfR"><svg width="13" height="13">
                                        <use xlink:href=<%- movie[0].tlLinks%>></use>
                                    </svg><span>Trailers (1)</span></div>
                            </a>
                        </div>
                        <section type="vertical" color="#000000" class="sc-bsek5f-1 dTPawu"><span color="#FFFFFF"
                                class="sc-bsek5f-4 eREoZe">In cinemas</span>&nbsp;</section>
                    </section>
                </div>
                <div class="sc-qswwm9-5 ehwnas">
                    <h1 class="sc-qswwm9-6 hxbOUw">
                        <%- movie[0].movieName%>
                    </h1>
                    <section class="sc-ec6ph5-0 bmFtqL">
                        <div class="sc-ec6ph5-1 hFxJGJ"><svg width="32" height="32">
                                <i class="fa fa-heart fa-2x denger " aria-hidden="true"></i>
                            </svg><span class="sc-ec6ph5-3 ctjtdj">
                                <%-Math.floor((Math.random() * 40) + 60);%>%
                            </span><span class="sc-ec6ph5-4 KmsNs">
                                <%-Math.floor((Math.random() * 130) + 20);%>K
                                    ratings
                            </span>
                            <div class="sc-ec6ph5-5 fsacFf"><svg width="8" height="8">
                                    <!-- <i class="fa fa-heart  denger " aria-hidden="true"></i> -->
                                    </use>
                                </svg></div>
                        </div>
                    </section>
                    <section class="sc-ycjzp1-0 duexLW">
                        <div class="sc-ycjzp1-1 fdWjQB">
                            <div class="sc-ycjzp1-3 gAedkM">
                                <h5 class="sc-ycjzp1-4 chrNDO">Add your rating &amp; review</h5>
                                <h6 class="sc-ycjzp1-5 kTptex">Your ratings matter</h6>
                            </div><button class="sc-8f9mtj-0 sc-8f9mtj-1 sc-ycjzp1-6 lftZnN"><span>Rate
                                    now</span></button>
                        </div>

                    </section>
                    <div class="sc-2k6tnd-0 ddXVHR">
                        <div class="sc-2k6tnd-1 btqyFP">
                            <div class="sc-2k6tnd-4 fdHSZD"><a href="https://in.bookmyshow.com/explore/2d-movies-kochi"
                                    class="sc-2k6tnd-2 iWTape">2D</a></div>
                            <div class="sc-2k6tnd-4 fdHSZD"><a
                                    href="https://in.bookmyshow.com/explore/tamil-movies-kochi"
                                    class="sc-2k6tnd-2 iWTape">
                                    <%- movie[0].language%>
                                </a></div>
                        </div>
                        <div class="sc-2k6tnd-1 btqyFP">
                            <%- movie[0].movieDuration.split(":").join("h")%>m<span class="sc-2k6tnd-5 kvkTzz">
                                    •
                                </span>

                                <a href="#/explore/action-movies-kochi" class="sc-2k6tnd-2 ijNbsp">
                                    <%- movie[0].movieGenres %>
                                </a>

                                <span class="sc-2k6tnd-5 kvkTzz"> •
                                </span>UA<span class="sc-2k6tnd-5 kvkTzz"> • </span>
                                <!-- date -->
                                <span>
                                    <%- movie[0].ReleseDate %>
                                </span>
                        </div>
                    </div>
                    <div class=" sc-qswwm9-8 jayiEd">
                        <div id="page-cta-container" class="sc-11ze7wi-0 jMCuom">
                            <a>
                                <button data-phase="postRelease"
                                    class="sc-8f9mtj-0 sc-8f9mtj-1 sc-1vmod7e-0 gsJmXR py-1 px-4">
                                    <div class="sc-1vmod7e-2 iBonLL"><span
                                            style="font-weight: 500; font-size: 16px; color: rgb(255, 255, 255);">Comming
                                            soon</span></div>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="sc-qswwm9-9 bcBRAA">
                <section class="sc-1vaplep-0 dBVskk">
                    <div class="sc-1vaplep-1 fSfEnZ">
                        <div class="sc-1vaplep-3 fpNbam"><svg width="32" height="32">
                                <use xlink:href="/chunks/icons/synopsis-icons-96c193d5.svg#icon-share"></use>
                            </svg></div>
                        <div class="sc-1vaplep-2 cbdnYr">Share</div>
                    </div>
                </section>
            </div> -->
            </div>
        </div>
    </section>

    <!-- head line section -->
    <section class="sc-o4g232-0 dQojea mx-5"><span class="sc-o4g232-1 bnKXnQ">
            <h4 class="sc-o4g232-2 cFiFtf">About the movie</h4>
            <div class="sc-o4g232-3 cKuWQr"><span>
                    <%-movie[0].description%>.
                </span></div>
        </span></section>

    <!-- footer -->
    <%- include('../partials/footer.ejs', {user}) %>